.about {
  margin-top: 96px;
  background-color: $bcg-color-second;

  @include tablet {
    margin-top: 120px;
  }

  &__image-wrapper {
    overflow: hidden;
    height: 200px;

    @include tablet {
      height: 400px;
    }

    @include desktop {
      height: 460px;
    }
  }

  &__img {
    width: 100%;
    height: 200px;
    object-fit: cover;

    @include tablet {
      height: 400px;
    }

    @include desktop {
      height: 460px;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    padding-top: 48px;
    padding-bottom: 48px;

    @include tablet {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 24px;
      padding-top: 120px;
      padding-bottom: 120px;
    }

    @include desktop {
      gap: 111px;
    }
  }

  &__title {
    max-width: 280px;
    font-size: $h2-size;
    line-height: $text-l-h-medium;

    @include tablet {
      max-width: 370px;
      font-size: $h2-size-tablet;
      line-height: 100%;
    }

    @include desktop {
      max-width: 460px;
      font-size: $h1-size-tablet;
      line-height: $h1-size-tablet;
    }
  }

  &__description {
    max-width: 460px;
    font-size: $font-size-medium;
    font-weight: $fw-4;
    line-height: $text-l-h;
    letter-spacing: 0.15px;
  }
}
