.contact {
  margin-top: 64px;

  @include tablet {
    margin-top: 120px;
  }

  &__container {
    display: grid;
    gap: 48px;
    padding-bottom: 64px;

    @include desktop {
      grid-template-columns: minmax(0, 600px) minmax(0, 1fr);
      gap: 111px;
      align-items: start;
      padding-bottom: 120px;
    }
  }

  &__title {
    font-size: $h2-size;
    line-height: $text-l-h-medium;

    @include tablet {
      font-size: $h2-size-tablet;
      line-height: 100%;
    }

    @include desktop {
      font-size: $h1-size-tablet;
      line-height: $h1-size-tablet;
    }
  }

  &__form {
    display: grid;
    gap: 16px;
    margin-top: $mg-top-form;
  }

  &__info {
    display: grid;
    gap: 24px;
    margin-top: $mg-top-form;

    @include desktop {
      margin-top: 88px;
    }
  }

  &__label {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: $fw-4;
    line-height: $text-l-h;
    color: $text-color-secondary;
  }

  &__value,
  &__address-link {
    font-size: $font-size-medium;
    font-weight: $fw-4;
    line-height: $text-l-h;
    letter-spacing: 0.15px;
    color: $text-color-address;
    text-decoration: none;

    &:hover {
      color: $btn-color-primary;
    }
  }

  &__address {
    font-style: normal;
  }
}

.form__input {
  width: 100%;
  padding: 14px 16px;
  border: 1px solid #f9f9f9;
  border-radius: $br-form;
  background-color: #f9f9f9;
  outline: none;

  &:hover {
    border-color: $br-color-form-hov;
  }

  &:focus {
    border-color: $btn-color-primary;
  }

  &--textarea {
    min-height: 148px;
    resize: none;
  }
}

.form__button {
  width: 100%;
  padding-block: 14px;
  border: none;
  border-radius: $br-form;
  font-size: $font-size-medium;
  font-weight: $fw-7;
  line-height: 27px;
  color: $text-color;
  background-color: $btn-color-primary;
  cursor: pointer;

  &:hover {
    background-color: $btn-color-hover;
  }

  &:focus {
    background-color: $btn-color-pressed;
  }
}
