.menu {
  position: fixed;
  inset: 0;
  z-index: 100;
  background-color: $bcg-color-menu;
  overflow: auto;
  opacity: 0;
  pointer-events: none;
  transform: translateX(100%);
  transition: all $transition ease;

  &:target {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
  }

  &__container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 24px;
    padding-bottom: 48px;

    @include tablet {
      padding-top: 32px;
      padding-bottom: 64px;
    }
  }

  &__top {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 24px;
    background-color: $bcg-color-menu;

    @include tablet {
      padding-bottom: 32px;
    }
  }

  &__logo {
    display: inline-flex;
    transition: transform $transition ease;

    &:hover {
      transform: scale($scale);
    }
  }

  &__close {
    width: 24px;
    height: 24px;
    background-image: url('/src/images/header/menu-close.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @include tablet {
      width: 32px;
      height: 32px;
    }
  }

  &__bottom {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 32px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    list-style: none;
  }

  &__link {
    position: relative;
    width: fit-content;
    font-size: $font-size-big;
    font-weight: $fw-7;
    line-height: 1;
    color: $btn-color-hover;
    text-decoration: none;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: -8px;
      left: 0;
      height: 1px;
      background-color: $btn-color-hover;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform $transition ease;
    }

    &:hover::after,
    &:focus::after {
      transform: scaleX(1);
    }
  }

  &__contacts {
    display: grid;
    gap: 16px;
    margin-top: 16px;
  }

  &__phone,
  &__btn-call {
    width: fit-content;
    font-size: $font-size-medium;
    font-weight: $fw-7;
    line-height: $text-l-h;
    letter-spacing: 2px;
    color: $btn-color-hover;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: $btn-color-primary;
    }
  }

  &__btn-call {
    position: relative;
    padding-bottom: 8px;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 1px;
      background-color: currentColor;
    }
  }
}
