.recommended {
  padding-top: 64px;

  @include tablet {
    padding-top: 120px;
  }

  &__title {
    margin-bottom: 48px;
    font-size: $h2-size;
    line-height: $text-l-h-medium;

    @include tablet {
      margin-bottom: 56px;
      font-size: $h2-size-tablet;
      line-height: $text-l-h-medium-tablet;
    }

    @include desktop {
      font-size: $h1-size-tablet;
      line-height: $h1-size-tablet;
    }
  }

  &__list {
    display: grid;
    gap: 40px;

    @include tablet {
      gap: 56px;
    }

    @include desktop {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 24px;
    }
  }
}

.product-card {
  display: flex;
  flex-direction: column;

  &__image-wrapper {
    overflow: hidden;
    display: block;
    margin-bottom: 24px;
  }

  &__image {
    width: 100%;
    transition: transform $transition ease;
  }

  &:hover .product-card__image {
    transform: scale($scale);
  }

  &__name {
    margin-bottom: 8px;
    font-size: $font-size-large;
    line-height: $text-l-h;
  }

  &__description {
    margin-bottom: 12px;
    font-size: $font-size-medium;
    font-weight: $fw-4;
    line-height: $text-l-h;
  }

  &__price {
    font-size: $font-size-medium;
    font-weight: $fw-7;
    line-height: $text-l-h;
  }
}
