// 1. Colors //
$text-color: #fff;
$text-color-address: #191919;
$text-color-secondary: #9393a3;
$text-form-color: #000;
$btn-color-primary: #f98921;
$btn-color-hover: #1b2129;
$btn-color-pressed: #010810;
$bcg-color-menu: #f9f9f9;
$bcg-color-second: #fcfaef;
$br-color-form-hov: #dbdbdb;

// 2. Typography //

$h1-size: 36px;
$h1-size-tablet: 48px;
$h1-size-desktop: 56px;
$h2-size: 32px;
$h2-size-tablet: 40px;
$font-size-big: 22px;
$font-size-large: 18px;
$font-size-medium: 16px;
$font-size-small: 12px;
$fw-4: 400;
$fw-7: 700;
$text-l-h: 140%;
$text-l-h-medium: 32px;
$text-l-h-medium-tablet: 40px;

// 3. Layout//

$cards-gap: 40px;
$padding-page: 24px;
$padding-page-tablet: 72px;
$padding-page-desktop: 120px;
$mg-top-form: 48px;

// 4. Components //

$header-icon-size: 24px;
$br-form: 8px;

// 5. Animation //

$transition: 300ms;
$scale: 1.1;
